*{
    margin: 0;
    padding: 0;
    scroll-behavior:smooth;
    -webkit-tap-highlight-color:transparent;
}
.projectsubhead{
    /* text-align: justify; */
    line-height: 1.5rem;
    letter-spacing: 0.10rem;
    font-size: 1rem;
    width: 95%;
    height: max-content;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.wrapper{
    height: 100vh;
    /* width: 80vw; */
    overflow-y: auto;
    overflow-x: hidden;
    background-color: black;
}
.container{
    width: 80vw;
    margin: 0 auto;
}
.navbar{
    display: flex;
    position: relative;
    justify-content:space-between;
    align-items: center;
    padding-top:0.5rem;
    padding-bottom: 0.5rem;
    width: 80vw;
    margin: auto;
}
.navbar-wrapper{
    width: 100vw;
    box-shadow: 0 4px 0 rgba(173, 166, 166, 0.2);
    position: fixed;
    z-index: 5;
    background-color: black;
    color: white;
}
.logo{
    width:3.5rem;
}
.logocontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.4em;
}
.navitems{
    display: flex;
    gap: 3rem;
    padding: 0 4rem;
}
.logotext{
    margin-left: -1.2rem;
    font-size: 2.5rem;
}

.navitems div{
      font-size: 1.2rem;
      font-weight: 500;
      cursor: pointer;
      transition: transform 0.3s;
}
a{
    text-decoration: none;
    color: black;
}
.navitems div:hover{
    font-weight: bold;
    transform: scale(1.1);
}
.herosection{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 5rem;
    margin-top: 10rem;
    /* margin:auto; */
    padding: 0 1rem;
    padding-bottom: 8rem; 
}
.faddedtext{
    user-select: none;
    font-size: 7em;
    color: gray;
    bottom:-13%;
    left:3%;
    font-weight: bold;
    transition: all 3s;
    position: absolute;
}
.about-me{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}
.heroleft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    width: 50%;
}
.herohead{
    font-size: 2rem;
    color: #343d68;
    font-weight: 500;
    color:rgb(6 182 212/1)
}
.role{
    color: #4e45d5;
    font-weight: 800;
    margin-left:0.4em;
    font-style: italic;
}
.herosubhead{
    font-size:2rem;
    line-height: 45px;
    font-weight: 620;
    color:cyan;
}
.herodescription{
    /* margin-top: rem; */
    width:fit-content;
    line-height: 1.7rem;
    text-align: justify;
    font-weight: 500;
    font-size: 1rem;
    color: rgb(191, 186, 186);
    /* word-break: break-all; */
}
.button{
    background-color: #5865F2;
    width: 80px;
    height: 35px;
    color: white;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    transition: 0.3s;
}
.button:hover{
    border: 2px solid white;
    box-shadow: -3px 3px 3px white;
}
.headright{
    position:relative;
}
.userimg{
    filter:grayscale(1);
    transition: all 1s;
    animation: scaleImage 5s linear infinite;
    border-radius: 50%;
    border:1.5rem solid aqua;
}
.img{
    width:15rem;
    border-radius: 50%;
    height: 15rem;
    margin-bottom: -2%;
}

.projectsection{
    background-color: black;
    margin-top:-2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pageheader{
     color: cyan;
     font-size: 3.5rem;
     padding: 30px;
     text-align: center; 
     font-weight: 100;     
}
.projectcontainer{
    max-width: 80vw;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    /* gap: px; */
    justify-content: center;
    height: max-content;
}
.projectcard{
    position: relative;
    box-shadow: 0px 0px 40px rgb(137, 131, 131);
    width: fit-content; 
    border: 2px; 
    /* z-index: 0; */
    border-radius: 2rem;
    padding: 2rem; 
    color: white; 
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    row-gap: 1.3rem;
    color:black;
    cursor: pointer;
    background-color:#EDEAE0;
    transition: transform 0.3s ease-in-out;
}

.projectWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    row-gap: 4rem; 
    column-gap: 3rem; 
    width: 80vw; 
    margin-bottom: 5rem;
    margin-top: 2rem;
}

.projectDesc{
    text-align:center;
    line-height: 1.5rem;
    font-size:1rem;
}

.education{
    width: 100%;
    background-color: black;
    padding-bottom: 30px;
}

.education-section {
    padding: 50px 20px;
    background-color: #f9f9f9;
  }
  
  .education-section h2 {
    text-align: center;
    font-size: 36px;
    color: #333;
    margin-bottom: 40px;
  }
  
  .education-timeline {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .education-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    border:2px solid aliceblue;
    box-shadow: 15px 15px 10px gray;
    padding: 1.5rem 2rem;
    border-radius: 0rem;
    background-color:azure;
    cursor: pointer;
  }

  .education-item:hover{
    background-color: white;
    border-color: white;
  }
  
  .education-icon img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }
  
  .education-content h3 {
    margin: 0;
    font-size: 1.5rem;
    color: #007bff;
  }
  
  .education-content p {
    margin: 5px 0;
    color: #555;
  }
  
  .education-year {
    font-size: 14px;
    color: #888;
  }
  

@keyframes edu-image {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0px);
    }
}

.education-container{
    width:80vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.download-btn{
    background-color: #5865F2;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.download-btn:hover{
    border: 2px solid white;
    box-shadow: -3px 3px 3px white;   
}

.card-img{
    max-width: 100%;
    height: auto;
    border:0.3rem solid rgb(219, 157, 76,0.3);
    border-radius: 0.7rem;
    box-shadow:0px 0px 40px 0.3em rgb(219, 157, 76);
}

.projectcard:hover{
    transform: scale(1.05);
} 

.projectcontent{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 2em;
    /* bottom: 20%; */
    height: max-content;
    z-index: 0;
    gap: 1.5em;
    transition: all 0.4s;
}
#project2 .projectcontent{
    
}
#project2:hover .projectcontent{
    color: white;
}
.projectcontentleft{
    left:5%;
}
.projectcontentright{
    left:5%;
}
.projectskillscontainer{
    width: 60%;
    display: flex;
    gap:23px;
    flex-wrap: wrap;
}
.projectskill{
    width:40px;
}
.projectheading{
    font-size: 2rem;
    font-weight: bold;
    line-height: 3rem;
}
.btngrp{
    display: flex;
    gap: 2rem;
}
.giticon{
    width: 40px;
    cursor: pointer;
    /* transition:0.4s; */
    /* border: 2px; */
    /* border-radius: 100%; */
    padding: 2px;
    margin-top: auto;
    transition: all 1s;
}


.project-content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    row-gap: 1rem;
}
.giticon:hover{
    animation: scaleIcon 1.5s linear infinite;
    border-radius: 100%;
    background-color: aquamarine;
     /* width:50px; */
}
.projectcard:hover .projectcontent{
     transform: scale(1.1);
}
#project1{
    background-image: url("./images/bg.webp");
    background-size: cover ;
}
#project2{
    background-image: url("./images/learning.jpg");
    background-size: cover ;
}
#project3{
    background-image: url("./images/computer.jpg");
    background-size: cover ;
}   
#project4{
    background-image: url("./images/news.jpg");
    background-size: cover ;
}                                                                                                                                                                             
.skillcontainer{
    position:relative;
    display: flex;
    margin-top: 5rem;
    margin-bottom: 5rem;
    column-gap: 5rem;
    justify-content: space-between;
}
.skillleft{
    width: fit-content;
    display: flex;
    flex-direction: column;
    color:rgb(191, 186, 186);
}
.skillright{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    justify-content: center;
    align-items: center;
    position: relative;
    column-gap: 2.5rem;
    row-gap: 1rem;
}
.skilllogo{
    width: 4rem;
    cursor: pointer;
    height: 4rem;
    transition: all 0.5s;
}
.skillfadetext{
    font-size: 10em;
    font-style: bold;
    color: rgb(231, 231, 231);
    bottom: -25%;
    right: -6.5%;
    user-select: none;
    position: absolute;
}
.skilllogo:hover{
    transform: scale(1.2);
}
.skillheading{
    font-size: 3.5rem;
    font-style: bold;
    color: cyan;
    line-height: 50px;
}
.caps{
    font-size: 90px;
}

.education-list{
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    /* margin-top:1rem; */
    /* margin-left:2rem; */
}

.cgpa{
    font-size: 1.2rem;
    font-weight: bold;
    color:black;
    margin-bottom: 1rem;
}

.education-inner-container{
    display: flex;
    margin-top: 3rem;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    column-gap: 1rem;
}
.divider{
    width:4rem;
    border-bottom: 2px dashed blueviolet;
    rotate: 90deg;
    margin-left:-3.1rem;
    margin-top:-2rem;
}

.education-image{
    width:20em;
    animation: edu-image 3s ease-in-out 0s infinite alternate forwards;
}

.image-container{
    background-color:antiquewhite;
    width:max-content;
    height: max-content;
    border:2rem solid white;
    border-radius: 50%;
    box-shadow: 5px 10px 100px antiquewhite;
}

.college-name{
    font-size: 1.2rem;
    font-weight: bold;
    color: darkslategrey;
    margin-bottom: 0.5rem;
}

li::marker {
    color: blueviolet;
    font-size: 1.7em;
    font-weight: bold;
}
  
.degree-name{
    font-size: 1.5rem;
    font-weight: bold;
    color:black;
    color:#535c87;
    margin-bottom: 0.3rem;
}
.sillsubheading{
    margin-top:1rem;
    width: fit-content;
    /* text-align: justify; */
}
.sillsubheading p{
    margin: 15px;
    line-height: 2rem;
    font-size: 18px;
    text-align: justify;
}
.contactusformcontainer{
    width: 100%;
    background-color: black;
    padding-bottom: 30px;
}
#submitbtn{
    width: 150px;
    height: 50px;
    font-size: 20px;
    transition: 0.3s;
    cursor: pointer;
}
.contactusheading{
    color: cyan;
    font-size: 3.5em;
    /* padding: 2rem; */
    margin-bottom: 1rem;
    margin-top: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.education-heading{
    color: cyan;
    text-align: center;
    font-size: 3.5em;
    margin-bottom: 7rem;
    /* padding: 2rem; */
}
.contactussubheading{
    font-size: 2.5rem;
    color: rgb(6 182 212 / 1);    ;
    /* word-break: break-all; */
    text-transform: capitalize;
}

.hamburger{
    width:2rem;
    cursor: pointer;
    display: none;
}
#hamburger-items{
    position: absolute;
    display: none;
    top: 100%;
    right: -13%;
    background-color: black;
    transition: 0.3s;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    z-index: 100;
    border:2px solid gray;
    border-top: none;
    box-shadow: -20px 20px 50px rgba(158, 153, 153, 0.2);
}

#hamburger-items.active{
    display: flex;
}

.hamburger-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.5rem;
}

.nav-hamburger-item{
    background-color:black;
    font-size:medium;
    font-weight: 800;
    width:100%;
    cursor: pointer;
}
.nav-hamburger-item a{
    padding-left:3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: block; 
    width: 100%; 
}
a {
    text-decoration: none; 
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

.nav-hamburger-item:active{
    background-color: gray;
    color: inherit;
}


.contactusformcontainer{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-container{
    width: 80vw;
}
.form{
   display: flex;
   flex-direction: column;
   row-gap: 2rem;
   justify-content: center;
   align-items: center;
   width:100%;
   padding-left: 1.7rem;
   padding-right: 1.7rem;
}
/* .formfieldcontainer{
    width:100%;
} */
.formfield{
    width: 100%;
    height: 2.5rem;
    padding: 0 1rem;
    font-size: 16px;
    border:none;
    margin-top: 3px;
    box-shadow: 2px 2px 7px black;
}
.formfieldarea{
    height: auto;
    padding: 1rem;
}
footer{
    position: relative;
    background-color:rgb(62, 61, 61);
    margin-top: -1px;
    padding: 5rem;
}
.footerwrappper{
    display: flex;
    gap:1rem;
    padding: 1.2rem;
    justify-content: center;
    align-items: center;
}
.footerfadedtext{
    position: absolute;
    left: 0;
    bottom: 0%;
    color:#535c87;
    user-select: none;
    font-size: 5em;
}
.footericon{
    width:5rem;
    
}
.footericon:hover{
    transform: scale(1.2);
}
.iconwrapper{
    display: flex;
    gap:50px;
    justify-content: center;
}
.project-head{
    font-size: 1.4rem; 
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: 1.7rem;
}


/* @media screen and (max-width:1030px) {
   .skilllogo{
      width: 3rem;
      height: 3rem;
   }
} */



@media screen and (max-width:1300px) {
    .projectWrapper{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width:800px) {
    .hamburger-list{
        display: none;
    }
}

@media screen and (max-width:1000px) {
    .img{
        width: 12rem;
        height: 12rem;
    }

    /* .herosection{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        row-gap: 5rem;
    } */
    .heroleft{
        
    }
}

@media screen and (max-width:900px) {
    .education-inner-container{
        display: flex;
        flex-direction: column-reverse;
        row-gap: 5rem;
        margin-top: 3rem;
    }
    .herosection{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        row-gap: 5rem;
        margin-top: 8rem;
        margin-bottom: 0;
    }
    .download-btn{
        margin: auto;
    }
    .skillcontainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 5rem;
    }
    .skilllogo{
        width: 2.5rem;
      height: 2.5rem;
    }
    .skillleft{
        width: 100%;     
    }
    .heroleft{
        width: 80vw;
    }
    .faddedtext,.skillfadetext{
        display: none;
    }
    /* .projectWrapper{
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    } */
}

@media screen and (max-width:750px) {
    .projectWrapper{
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }
}

@media screen and (max-width:800px) {
    .hamburger{
        display: block;
    }
    /* #hamburger-items{
        display: flex;
        flex-direction: column; 
    } */
    .navitems{
        display: none;
    }
}

@media screen and (max-width:1200px) {
    .degree-name{
        font-size:1.3rem ;
    }
    .college-name{
        font-size: 1rem;
    }
    .education-content h3 {
        font-size: 1rem;
    }

      .education-content p {
        font-size: 0.8rem;
      }
}

@media screen and (max-width:1000px) {
    .degree-name{
        font-size:1.3rem ;
    }
    
    .education-item{
        padding: 1rem 1rem;
    }
    .education-image{
        width:15rem;
    }
}


@media screen and (max-width:700px) {
    .education-image{
        width:13rem;
    }
    .education-heading{
        font-size: 2.2rem;
        text-align: center;
    }
    
    .navitems div{
        font-size: 1.1rem;
  }
  .contactusheading{
    font-size: 2.5em;
}
.pageheader{
    font-size: 2.5em;
}
.contactussubheading{
    font-size: 1.8rem;
}
  .navitems{
    gap: 2rem;
}
.logo{
    width: 2.5rem;
}
.logotext{
    font-size: 2rem;
}
.logocontainer{
    column-gap: 0.6em;
}
}

@media screen and (max-width:550px) {
    .img{
        width: 10rem;
        height: 10rem;
    }
    .education-list{
        row-gap: 1.5rem;
    }
    .divider{
        width:2rem;
        margin-left:-2.1rem;
    }
    .degree-name{
        font-size:1rem ;
    }
    .college-name{
        font-size: 1rem;
    }
    .cgpa{
        font-size: 1rem;
    }
    .herosection{
        row-gap: 3rem;
    }
    .footericon{
        width: 3rem;
    }
    .skillheading{
        font-size: 2.5rem;
    }
    .herohead{
        font-size: 1.5rem;
    }
    .herosubhead{
        font-size: 1.5rem;
    }
    .userimg{
        border-width: 1rem;
    }
    .img{
        margin-bottom: -3%;
    }
    
}

@media screen and (max-width:500px) {
    .container{
        width:100vw;
    }
    .contact-container{
        width: 80vw;
    }
    .skillcontainer{
        width: 90vw;
    }
    /* .contactusformcontainer{
        width:90vw;
    } */
    /* .herosection{
        width: 95vw;
    } */
    .projectDesc{
        font-size:0.9rem;
    }
    .project-head{
        font-size:1.3rem;
    }
}

@keyframes scaleImage{
    0%{
        filter: grayscale(0);
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
        filter:grayscale(1);
        box-shadow: 3px 3px 70px aqua;
    }
    100%{
        transform: scale(1);
        filter: grayscale(0);
        
    }
}

@keyframes scaleIcon{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1.3);
        
    }
}
